.gpt3__featureComp{
    display: flex;
    font-family: var(--font-family);
    padding: 0rem 0rem 2rem 0rem;
}
.gpt3__featureComp h3{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    display: flex;
    flex-direction: column;
    letter-spacing: -0.04em;
    flex: 1;
    color: #FFFFFF;
}
.gpt3__featureComp h3::before{
    content: "";
    display: inline-block;
    width: 3rem;
    height: 0.2rem;
    margin: 0 0 0.5rem 0;
    background: var(--gradient-bar);
}
.gpt3__featureComp p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    display: block;
    flex: 2;

    color: #81AFDD;
}

/* Media Queries */ 

@media screen and (max-width: 1050px) {
    .gpt3__featureComp{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .gpt3__featureComp h3{
        font-size: 14px;
    }
    .gpt3__featureComp p{
        font-size: 12px;
    }
}